
@{
    ViewBag.Title = "test";
}

<div class="row col-md-12" style="margin-top:20px;">
    <div class="container text-center col-md-2">
        <img src="~/Content/5.png" class="img-circle" alt="Cinque Terre" style="background-color:aqua" width="150" height="100">
        <h5>Nama Report</h5>
    </div>

    <div class="container text-center col-md-2">
        <img src="~/Content/avatar5.png" class="img-circle" alt="Cinque Terre" width="150" height="100">
        <h5>Nama Report</h5>
    </div>
    <div class="container text-center col-md-2">
        <img src="~/Content/avatar4.png" class="img-circle" alt="Cinque Terre" width="150" height="100">
        <h5>Nama Report</h5>
    </div>
    <div class="container text-center col-md-2">
        <img src="~/Content/avatar5.png" class="img-circle" alt="Cinque Terre" width="150" height="100">
        <h5>Nama Report</h5>
    </div>
    <div class="container text-center col-md-2">
        <img src="~/Content/avatar4.png" class="img-circle" alt="Cinque Terre" width="150" height="100">
        <h5>Nama Report</h5>
    </div>
    <div class="container text-center col-md-2">
        <img src="~/Content/avatar5.png" class="img-circle" alt="Cinque Terre" width="150" height="100">
        <h5>Nama Report</h5>
    </div>
</div>

<div class="row col-md-12" style="margin-top:10px;">
    <div class="container text-center col-md-2">
        <img src="~/Content/avatar5.png" class="img-circle" alt="Cinque Terre" width="150" height="100">
        <h5>Nama Report</h5>
    </div>
    <div class="container text-center col-md-2">
        <img src="~/Content/avatar4.png" class="img-circle" alt="Cinque Terre" width="150" height="100">
        <h5>Nama Report</h5>
    </div>
    <div class="container text-center col-md-2">
        <img src="~/Content/avatar5.png" class="img-circle" alt="Cinque Terre" width="150" height="100">
        <h5>Nama Report</h5>
    </div>
    <div class="container text-center col-md-2">
        <img src="~/Content/avatar4.png" class="img-circle" alt="Cinque Terre" width="150" height="100">
        <h5>Nama Report</h5>
    </div>
    <div class="container text-center col-md-2">
        <img src="~/Content/avatar5.png" class="img-circle" alt="Cinque Terre" width="150" height="100">
        <h5>Nama Report</h5>
    </div>
    <div class="container text-center col-md-2">
        <img src="~/Content/avatar4.png" class="img-circle" alt="Cinque Terre" width="150" height="100">
        <h5>Nama Report</h5>
    </div>
</div>

<div class="row col-md-12" style="margin-top:10px;">
    <div class="container text-center col-md-2">
        <img src="~/Content/avatar4.png" class="img-circle" alt="Cinque Terre" width="150" height="100">
        <h5>Nama Report</h5>
    </div>

    <div class="container text-center col-md-2">
        <img src="~/Content/avatar5.png" class="img-circle" alt="Cinque Terre" width="150" height="100">
        <h5>Nama Report</h5>
    </div>
    <div class="container text-center col-md-2">
        <img src="~/Content/avatar4.png" class="img-circle" alt="Cinque Terre" width="150" height="100">
        <h5>Nama Report</h5>
    </div>
    <div class="container text-center col-md-2">
        <img src="~/Content/avatar5.png" class="img-circle" alt="Cinque Terre" width="150" height="100">
        <h5>Nama Report</h5>
    </div>
    <div class="container text-center col-md-2">
        <img src="~/Content/avatar4.png" class="img-circle" alt="Cinque Terre" width="150" height="100">
        <h5>Nama Report</h5>
    </div>
    <div class="container text-center col-md-2">
        <img src="~/Content/avatar5.png" class="img-circle" alt="Cinque Terre" width="150" height="100">
        <h5>Nama Report</h5>
    </div>
</div>

<div class="row col-md-12" style="margin-top:10px;">
    <div class="container text-center col-md-2">
        <img src="~/Content/avatar5.png" class="img-circle" alt="Cinque Terre" width="150" height="100">
        <h5>Nama Report</h5>
    </div>
    <div class="container text-center col-md-2">
        <img src="~/Content/avatar4.png" class="img-circle" alt="Cinque Terre" width="150" height="100">
        <h5>Nama Report</h5>
    </div>
    <div class="container text-center col-md-2">
        <img src="~/Content/avatar5.png" class="img-circle" alt="Cinque Terre" width="150" height="100">
        <h5>Nama Report</h5>
    </div>
    <div class="container text-center col-md-2">
        <img src="~/Content/avatar4.png" class="img-circle" alt="Cinque Terre" width="150" height="100">
        <h5>Nama Report</h5>
    </div>
    <div class="container text-center col-md-2">
        <img src="~/Content/avatar5.png" class="img-circle" alt="Cinque Terre" width="150" height="100">
        <h5>Nama Report</h5>
    </div>
    <div class="container text-center col-md-2">
        <img src="~/Content/avatar4.png" class="img-circle" alt="Cinque Terre" width="150" height="100">
        <h5>Nama Report</h5>
    </div>
</div>
