
@{
    ViewBag.Title = "test";
}



<div class="row col-md-12" style="margin-top:20px;">
    <div class="container text-center col-md-2">
        <img src="~/Content/1.png" class="img-circle" alt="Cinque Terre" style="background-color:aqua; cursor: pointer;" width="100" height="100" data-toggle="modal" data-target="#PopUpAgingHutang">
        <h5>Aging Hutang</h5>
    </div>

    <div class="container text-center col-md-2">
        <img src="~/Content/2.png" class="img-circle" alt="Cinque Terre" style="background-color:aqua; cursor: pointer;" width="100" height="100">
        <h5>Aging Piutang</h5>
    </div>
    <div class="container text-center col-md-2">
        <img src="~/Content/3.png" class="img-circle" alt="Cinque Terre" style="background-color:aqua; cursor: pointer;" width="100" height="100">
        <h5>Aging Piutang Rekap</h5>
    </div>
    <div class="container text-center col-md-2">
        <img src="~/Content/4.png" class="img-circle" alt="Cinque Terre" style="background-color:aqua; cursor: pointer;" width="100" height="100">
        <h5>Aging Piutang Rekap Periode</h5>
    </div>
    <div class="container text-center col-md-2">
        <img src="~/Content/5.png" class="img-circle" alt="Cinque Terre" style="background-color:aqua; cursor: pointer;" width="100" height="100">
        <h5>Bukti Bank Keluar</h5>
    </div>
    <div class="container text-center col-md-2">
        <img src="~/Content/6.png" class="img-circle" alt="Cinque Terre" style="background-color:aqua; cursor: pointer;" width="100" height="100">
        <h5>Bukti Bank Masuk</h5>
    </div>
</div>

<div class="row col-md-12" style="margin-top:10px;">
    <div class="container text-center col-md-2">
        <img src="~/Content/7.png" class="img-circle" alt="Cinque Terre" style="background-color:aqua; cursor: pointer;" width="100" height="100">
        <h5>Bukti Kas Keluar</h5>
    </div>
    <div class="container text-center col-md-2">
        <img src="~/Content/8.png" class="img-circle" alt="Cinque Terre" style="background-color:aqua; cursor: pointer;" width="100" height="100">
        <h5>Bukti Kas Masuk</h5>
    </div>
    <div class="container text-center col-md-2">
        <img src="~/Content/9.png" class="img-circle" alt="Cinque Terre" style="background-color:aqua; cursor: pointer;" width="100" height="100">
        <h5>Buku Pembantu Hutang</h5>
    </div>
    <div class="container text-center col-md-2">
        <img src="~/Content/10.png" class="img-circle" alt="Cinque Terre" style="background-color:aqua; cursor: pointer;" width="100" height="100">
        <h5>Buku Pembantu Piutang</h5>
    </div>
    <div class="container text-center col-md-2">
        <img src="~/Content/11.png" class="img-circle" alt="Cinque Terre" style="background-color:aqua; cursor: pointer;" width="100" height="100">
        <h5>Form Pengajuan Dana</h5>
    </div>
    <div class="container text-center col-md-2">
        <img src="~/Content/12.png" class="img-circle" alt="Cinque Terre" style="background-color:aqua; cursor: pointer;" width="100" height="100">
        <h5>Hutang Piutang Karyawan</h5>
    </div>
</div>

<div class="row col-md-12" style="margin-top:10px;">
    <div class="container text-center col-md-2">
        <img src="~/Content/13.png" class="img-circle" alt="Cinque Terre" style="background-color:aqua; cursor: pointer;" width="100" height="100">
        <h5>Kwitansi Penjualan</h5>
    </div>

    <div class="container text-center col-md-2">
        <img src="~/Content/14.png" class="img-circle" alt="Cinque Terre" style="background-color:aqua; cursor: pointer;" width="100" height="100">
        <h5>Laporan Buku Besar</h5>
    </div>
    <div class="container text-center col-md-2">
        <img src="~/Content/15.png" class="img-circle" alt="Cinque Terre" style="background-color:aqua; cursor: pointer;" width="100" height="100">
        <h5>Laporan Jurnal</h5>
    </div>
    <div class="container text-center col-md-2">
        <img src="~/Content/16.png" class="img-circle" alt="Cinque Terre" style="background-color:aqua; cursor: pointer;" width="100" height="100">
        <h5>Laporan Perkiraan</h5>
    </div>
    <div class="container text-center col-md-2">
        <img src="~/Content/17.png" class="img-circle" alt="Cinque Terre" style="background-color:aqua; cursor: pointer;" width="100" height="100">
        <h5>Laporan Saldo Awal</h5>
    </div>
    <div class="container text-center col-md-2">
        <img src="~/Content/18.png" class="img-circle" alt="Cinque Terre" style="background-color:aqua; cursor: pointer;" width="100" height="100">
        <h5>Neraca</h5>
    </div>
</div>

<div class="row col-md-12" style="margin-top:10px;">
    <div class="container text-center col-md-2">
        <img src="~/Content/19.png" class="img-circle" alt="Cinque Terre" style="background-color:aqua; cursor: pointer;" width="100" height="100">
        <h5>Neraca Saldo</h5>
    </div>
    <div class="container text-center col-md-2">
        <img src="~/Content/20.png" class="img-circle" alt="Cinque Terre" style="background-color:aqua; cursor: pointer;" width="100" height="100">
        <h5>Penukaran Setara Kas</h5>
    </div>
    <div class="container text-center col-md-2">
        <img src="~/Content/21.png" class="img-circle" alt="Cinque Terre" style="background-color:aqua; cursor: pointer;" width="100" height="100">
        <h5>Perubahan Modal</h5>
    </div>
    <div class="container text-center col-md-2">
        <img src="~/Content/22.png" class="img-circle" alt="Cinque Terre" style="background-color:aqua; cursor: pointer;" width="100" height="100">
        <h5>Rugi Laba</h5>
    </div>
    <div class="container text-center col-md-2">
        <img src="~/Content/23.png" class="img-circle" alt="Cinque Terre" style="background-color:aqua; cursor: pointer;" width="100" height="100">
        <h5>Voucher Pembayaran</h5>
    </div>
    <div class="container text-center col-md-2">
        <img src="~/Content/24.png" class="img-circle" alt="Cinque Terre" style="background-color:aqua; cursor: pointer;" width="100" height="100">
        <h5>Voucher Penerimaan</h5>
    </div>
</div>

@Html.Partial("PopUp/_PopUpAgingHutang") 
